@model List<Product>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient mt-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">
                    Список автомобилей
                </h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pt-4">
            <div class="col-12 text-end pb-4">
                <a asp-controller="Product" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Добавить новый автомобиль
                </a>
            </div>
        </div>

        <table class=" table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                       Название авто
                    </th>
                    <th>
                        Описание
                    </th>
                    <th>
                        Цена базовой комплектации
                    </th>
                    <th>
                        Цена полной комплектации
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Product obj in Model.OrderBy(u => u.Id))
                {
                    <tr>
                        <td style="width:250px">@obj.CarName</td>
                        <td>@obj.Description</td>
                        <td>@obj.basicEquipmentPrice</td>
                        <td>@obj.fullEquipmentPrice</td>
                        <td class="w-150" role="group">
                            <div >
                                <a style="width:200px" asp-controller="Product" asp-action="Edit" asp-route-Id="@obj.Id" class="btn btn-secondary mx-2 my-2">
                                    <i class="bi bi-pencil-square"></i> Редактировать
                                </a>
                                <a style="width:200px" asp-controller="Product" asp-action="Delete" asp-route-Id="@obj.Id" class="btn btn-danger mx-2 my-2">
                                    <i class="bi bi-trash3-fill"></i> Удалить
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
